{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
    <div class="container position-relative">
        <div class="row justify-content-center">
            <img src="../static/AppCoder/assets/img/create.svg" alt="">
        </div>
    </div>
    <div class="container position-relative">
        <div class="row justify-content-center">
            <form method="post">{% csrf_token %}

                {{form.as_p}}
                <input class="btn btn-success" type="submit" value="Send">
            </form>
        </div>
    </div>
{% endblock %}