{% extends 'index.html' %}

{% load static %}

{% block codigoDinamico %}
    
    <div class="container position-relative">    
        <div class="row justify-content-center">
            <img src="../static/AppCoder/assets/img/Img1.jpg" alt="">
            <h1>Matías Alejandro Ortiz Klingner</h1>
            <h2>Fullstack web developer</h2>
            <h5>My name is Matías A. Ortiz Klingner, I work as a freelance graphic designer and front end web developer. I created this website using Python and Django with the help of my teacher Daniel Ochoa and my Tutor Jhonathan Herrera. They both helped by providing me with tools and knowledge to finally come into this awesome website sample.</h5>
        </div>
    </div>

{% endblock %}